* {
    box-sizing: border-box;
}

body{
    padding: 20px 30px !important;
}
div{
    margin: 0;
    padding: 0;
}
.content{
    background-color: #343a40;
    height: 100%;
    min-height: 100px;
}

.gray *.content{
    background-color: #5a6268;
}
.container *{
    padding: 0;
}
.m-b-20{
    margin-bottom: 20px;
}



